body{
  padding: 4rem 0px;
}

.form-design{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.name-field{
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
}

.submit-btn{
  padding: 5px 3rem;
}